<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <template id="inventory_widget_assets_backend" inherit_id="web.assets_backend">
        <xpath expr="." position="inside">
            <script type="text/javascript" src="/mems_inventory/static/src/js/forms.js"/>
        </xpath>
    </template>

    <menuitem id="menu_inventory" name="Inventory" sequence="6"/>
    <menuitem id="menu_sub_stock" parent="menu_inventory" name="Stock" sequence="61"/>
    <menuitem id="menu_sub_transfer" parent="menu_inventory" name="Transfer" sequence="62"/>
    <menuitem id="menu_sub_data" parent="menu_inventory" name="Data" sequence="63"/>

    <!-- duplicate menu -->
    <menuitem id="menu_part_list" parent="mems_inventory.menu_sub_stock" name="Spare Part" action="mems_master.action_spare_part_list"/>

    <menuitem id="menu_department_list" parent="mems_inventory.menu_sub_data" name="Department" action="mems_master.action_department_list" sequence="631"/>
    <menuitem id="menu_brand_list" parent="mems_inventory.menu_sub_data" name="Brand" action="mems_master.action_brand_list" sequence="632"/>
    <menuitem id="menu_stock_location_list" parent="mems_inventory.menu_sub_data" name="Stock Location" action="mems_master.action_stock_location_list" sequence="633"/>
    <menuitem id="menu_category_list" parent="mems_inventory.menu_sub_data" name="Category" action="mems_master.action_category_list" sequence="634"/>
    <menuitem id="menu_uom_list" parent="mems_inventory.menu_sub_data" name="Unit of Measure" action="mems_master.action_uom_list" sequence="635"/>
</odoo>
